  <IfModule mod_negotiation.c>
    Options -MultiViews
  </IfModule>
  Options -Indexes
  RewriteEngine on
  IndexIgnore *

  <IfModule mod_headers.c>
    Header append X-FRAME-OPTIONS "SAMEORIGIN"
  </IfModule>

  RewriteCond %{REQUEST_URI}::$1 ^(.*?/)(.*)::\2$
  RewriteRule ^(.*)$ - [E=BASE:%1]

  RewriteCond %{REQUEST_FILENAME} !-d

  # Prevent access to template files
  <files "*.html">
    Allow from all
  </files>

  # Prevent Apache from removing the Authorization header, we need to check it for the API.
  CGIPassAuth On
